.arrow {
    cursor: pointer;
    position: relative;
    display: block;
    margin: 100px 0 0 ;
    width: 100px;
    height: 100px;
    border: solid 6px #999;
    border-radius: 100%;
    z-index: 1;
    transition: all 0.2s linear;
  }
  
  .arrow:before,
  .arrow:after {
    content: "";
    position: absolute;
    width: 35%;
    height: 10%;
    background: #999;
    z-index: 2;
    transition: all 0.2s linear;
  }
  
  .arrow:before {
    top: 55%;
    left: 40%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .arrow:after {
    top: 55%;
    left: 59%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  
  .arrow:hover {
    border: solid 8px #777;
  }
  
  .arrow:hover:before,
  .arrow:hover:after {
    background: #777;
  }
  
  .arrow:active {
    border: solid 8px #111;
  }
  
  .arrow:active:before,
  .arrow:active:after {
    background: #111;
  }
  
  html {
    scroll-snap-type: y mandatory;
}
#section1{
  scroll-snap-align: start;

}
#section2{
  scroll-snap-align: start;

}
#section3{
  scroll-snap-align: start;

}
#section4{
  scroll-snap-align: start;

}